html {
	margin: 0;
	padding: 0;
}
body {
	margin: 0;
	padding: 0;
}
#story {
	page-break-after: always;
	margin: 0;
	padding: 0;
	font-family:Comic Sans MS;
	font-size:16px;
	height: 3.3in;
	width: 5.5in;
}

#header {
	position:relative;
	left:0;
	top:0;
	height: 10%;
}
#number{
	position:absolute;
	top:0;
	left:0;
	font-weight: bold;
	font-size: 24px;
}
#theme{
	width: 80% ;
  	margin-left: 10%;
	margin-right: 10%;
 	text-align: center;
}
#estimate{
	position:absolute;
  	top:0;
  	right:0;
	font-size: 24px;
	font-weight: bold;
}

#body{
	position: relative;
	top: 0;
	left: 0;
	height: 45%;
	padding: 10%;
}
#title{
	text-align:center;
	font-size:42px;
	font-weight: bold;
}
#description{
	text-align:center;
	font-size:12px;
	margin: 5px;
}

#footer {
	position: relative;
	left:0;
	top:0;
	height:10%;
}
#owner{
	position: absolute;
	left:0;
	bottom: 0;
}
#iteration{
	position: absolute;
	right: 0;
	bottom: 0;
}



