html {
	margin: 0;
	padding: 0;
}
body {
	margin: 0;
	padding: 0;
}
#story {
	page-break-after: always;
	margin: 0;
	padding: 0;
	font-family:Comic Sans MS;
	font-size:16px;
	height: 3.3in;
	width: 5.5in;
}

#header {
	position:relative;
	left:0;
	top:0;
	height: 5%;
}
#number{
	position:absolute;
	top:0;
	left:0;
	font-weight: bold;
	font-size: 24px;
}
#theme{
	width: 80% ;
  	margin-left: 10%;
	margin-right: 10%;
 	text-align: center;
}
#estimate{
	position:absolute;
  	top:0;
  	right:0;
	font-size: 24px;
	font-weight: bold;
}

#body{
	position: relative;
	top: 0;
	left: 0;
	height: 45%;
	padding: 10%;
}
#title{
	text-align:center;
	font-size:25px;
	font-weight: bold;
}
#description{
	text-align:center;
	font-size:12px;
	margin: 5px;
}

#footer {
	position: relative;
	left:0;
	top:0;
	height:10%;
}
#owner{
	position: absolute;
	left:0;
	bottom: 0;
}
#iteration{
	position: absolute;
	right: 0;
	bottom: 0;
}

#logout{
    text-align:right    
}

.link{
    text-decoration:none;
    font-size:12px;
    color:#174A7C;
}


/* START:form */
/* Styles for login form */
.login-form fieldset {
  background: #efe;
}

.login-form legend {
  color: #dfd;
  background: #174A7C;
  font-family: sans-serif;
  padding: 0.2em 1em;
}


.login-form label {
  width: 5em;
  float: left;
  text-align: right;
  padding-top: 0.2em;
  margin-right: 0.1em;
  display: block;
}

.login-form select, .login-form textarea, .login-form input {
  margin-left: 0.5em;
}

.login-form .submit {
  margin-left: 4em;
}

.login-form div {
  margin: 0.5em 0;
}

.app-form img{
    width: 22em; /* replaces 468px width */
    height: 6em; /* replaces 60px height */
}

.app-form h1{
    color: #174A7C;
    font-family: sans-serif;
    padding: 0.2em 1em;
}

.app-form p{
    color: #174A7C;
    font-family: sans-serif;
    padding: 0.2em 1em;
}


/* START:notice */
#notice {
  border: 2px solid red;
  padding: 1em;
  margin-bottom: 2em;
  background-color: #f0f0f0;
  font: bold smaller sans-serif;
}



