<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN"
	"http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
	<%= stylesheet_link_tag "story" %>
	<title>Story View</title>
</head>

<body>
	<div id="story">
		<div id="header">
			<div id="number"><%= @story.number %></div>
			<div id="theme"><%= @story.theme %></div>
			<div id="estimate"><%= @story.estimate %></div>
		</div>
		<div id="body">
			<div id="title"><%= @story.title %></div>
			<div id="description"><%= trim_story_description(@story.description) %></div>
		</div>
		<div id="footer">
			<div id="owner"><%= @story.owner %></div>
			<div id="iteration"><%= @story.iteration %></div>
		</div>
	</div>
</body>
</html>
