<%if iterations%>
<label>Iterations:</label>
<%= select 'itr_no','iter', iterations.collect {|iteration| [ iteration.name, iteration.name ] }, {:prompt   => '-Select an iteration'},:style => "width:2in;" %>
<%end%>
