<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN"
	"http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
	<title><%= @stories[0].iteration %></title>
	<% @stories.each do |story| %>
	<div id="story">
		<div id="header">
			<span id="number"><%= story.number %></span>
			<span id="theme"><%= story.theme %></span>
			<span id="estimate"><%= story.estimate %></span>
		</div>
		<div id="body">
			<div id="title"><%= story.title %></div>
			<div id="description"><%= story.description %></div>
		</div>
		<div id="footer">
			<span id="owner"><%= story.owner %></span>
			<span id="iteration"><%= story.iteration %></span>
		</div>
	</div>
	<% end %>
</head>

<body>
	
</body>
</html>
